PORT=3030
FRONTEND_ORIGIN=localhost:3000
NODE_ENV=production

# PostgreSQL variables
DB_PASSWORD=1234
DB_NAME=uml
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

# JSON Web Token
JWT_SECRET=thislsTh3s3creK3y

# OpenAI API variables
# 
OPENAI_SERVER_URL=http://10.0.2.2:9931/v1
OPENAI_API_KEY=someRandomKey
OPENAI_MODEL=Qwen3.5-9B-MTP-GGUF

# Whisper API variables
# WHISPER_SERVER_URL is the base URL, WHISPER_API_KEY is our API key and WHISPER_MODEL is the model we are going to use
WHISPER_SERVER_URL=http://10.0.2.2:8080/v1/audio/transcriptions
WHISPER_API_KEY=someRandomKey
WHISPER_MODEL=notNeededHere